<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include("../partials/nav") %>  


<main>
  <h1><%= title %></h1>
  <p>Before adding a meal, check to see if it is already in on the menu.
  </p>
  <div class="menu-wrapper">
  <h2>Menu</h2>
  <ul>
  <% meals.forEach(meal => { %>
    <li>
    <%= meal.name %> <br>
    </li>
  <% }) %>
</ul>
</div>
  <form id="add-meal-form" action="/meals" method="POST">
    <label for="meal-input">Add New Meal</label>
    <input type="text" name="name" id="meal-input">
    <button type="submit">Add Meal</button>
  </form>
</main>

  <%- include("../partials/footer") %>  