<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Flights</title>
</head>
<body>
  <h1>Flight List</h1>
  <ul>
    <% flights.forEach(flight => { %>
      <li>
        <form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit">x</button>
        </form>
        <%= flight.airline %> 
        -
        <%= flight.airport %> 
        -
        <a href="/flights/<%= flight._id %>"><%= flight.flightNo %></a>
        -
        <%= flight.departs %> 
      </li>
    <% }) %>
  </ul>
</body>
</html>